.tr {
  text-align: right;
}
.tc {
  text-align: center;
}

.networkListTitle {
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;

  .networkListTitleItem {
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    // text-align: left;
    color: rgba(0, 0, 0, 0.85);
  }
}
.networkWrap {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 24px;
  bottom: 24px;
  overflow-y: auto;
  overflow-x: hidden;

  .networkFlexWrap {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column; 

    .networkOpe {
      flex: 0 0 80px;
      height: 80px;
    }
    .networkMain {
      flex: 1;
      overflow: hidden;
      position: relative;
    }
  }

  .networkItemActive {
    color: #1890ff;
  }
  .networkListItem {
    height: 40px;
    line-height: 40px;
    transition: all 0.3s;
    display: flex;
    border-bottom: 1px solid #e8e8e8;

    &:hover {
      background-color: rgba(24, 144, 255, 0.1);
    }

    .singleLine {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 16px;
    }
  }
  table {
    width: 100%;

    td {
      padding: 0 15px;
    }
    thead {
      height: 54px;
      line-height: 54px;
      background-color: #fafafa;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      border-bottom: 1px solid #e8e8e8;
    }
    tbody {
      tr {
      }
    }
  }
  .networkSingleLine {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .w200 {
    max-width: 200px;
  }
  .w300 {
    max-width: 300px;
  }
  .trEnter {
    animation: trEnter 1s;
  }
}

@keyframes trEnter {
  from {
    background-color: rgba(24, 144, 255, 0.3);
  }
  to {
    background-color: rgba(24, 144, 255, 0);
  }
}